
*{
    font-family: 'Montserrat', sans-serif;
    
}

body {
    padding-top: 170px;
}

.careers-body {
    padding-top: 100px;
}

.search-body {
    background-color: #ffffff;
    height: 100%;
}

.contact-body {
    padding-top: 200px;
    
}

.navbar-brand {
    margin-left: 15px;
}

.navbar-nav {
    font-size: 21px;
    font-weight: bold;
    margin-top: 50px;
    margin-right: 15px
}

.navbar-custom .navbar-nav .nav-link{
    color: rgba(116, 68, 204, 0.72);
}

.navbar-custom {
    background-color: #ffffff;
    
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(116, 68, 204, 0.72);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: rgba(116, 68, 204, 0.72);
    text-decoration: underline;
    transform: scale(1.1);
}

.carousel-inner img {
      width: 80%;
      height: 100%;
  }
.page-footer { 
        color: #ffffff;
    background-color: rgb(154, 117, 222);
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    position: relative;
}

.page-footer-providersearch {
    color: #ffffff;
    background-color: rgba(116, 68, 204, 0.72);
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
}

.page-footer-contact {
    color: #ffffff;
    background-color: rgba(116, 68, 204, 0.72);
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
     
    
}

.footer-copyright {
    font-weight: 200;
}

#footer-links {
    text-align: center;
}

#footer-links a{
    color: #fff;
}
.carousel-inner {
    max-height: 760px;
}


.modal-content {
    background-color:#ffffff; 
    color: rgb(0, 0, 0);
}

#HIPPAbody h4, #HIPPAbody h5{
    font-weight: bold;
    color: rgba(0, 39, 255, 0.7);
}

#HIPPAbody h7{
    color: rgb(0, 0, 0);
}

#TOSbody h4, #TOSbody h5{
    font-weight: bold;
    color: rgba(0, 39, 255, 0.7);
}
}

#TOSbody h7{
    color: rgb(0, 0, 0);
}

#AnncModal h5 {
    rgb(0, 88, 255);
}

.modal-header h4 , h5{
    color: rgb(0, 0, 0);
}

.modal-body button {
    float: right;
}

.modal-body h6{
    color: rgba(110, 118, 129, 0.81);
    font-size: 17px;
    font-weight: bold;
}


.modal-content h5 {
    rgba(129, 0, 255, 0.64);  
}


@media only screen and (max-width: 414px) {
     #contact-container {
        width: 100%;
    }
    .contact-body {
        width: 510px;
    }
    

}

@media only screen and (max-width: 768px) {
    .modal-lg {
        max-width: 90% !important;
    }   
    
    #contact-container {
        width: 500px;
    }
}


@media only screen and (max-width: 1146px) {
    
    .indeedjobs-widget{
        height: 100%;
    }
        
}


@media only screen and (max-width: 1400px) {
    
   .carousel-caption {
        display: none;
    }
}


.indeedjobs-widget {
    padding-left: 90px;
    padding-top: 90px;
    padding-bottom: 348px;
    width: 100%;
    height: 60%;
}


.navbar-light .navbar-text a {
    color: rgba(0, 108, 255, 0.81);  
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: rgba(116, 68, 204, 0.72);
}

a {
    color: rgb(0, 88, 255);
}


.btn-download {
  background-color: rgba(0, 108, 255, 0.81); 
  border: none;
  color: white;
  padding: 8px 8px;
  cursor: pointer;
  font-size: 13px;
  margin-top: -3px;
      
}

.btn-download:hover {
  background-color: #28a745;
    cursor: pointer;
}

.filename h5{
    color:  rgb(0, 88, 255);
    font-weight: 100;
}


a.download-link {
    color:  #fff;
}

#contact-container {
  padding: 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #54566f;
    max-width: 900px;
}

#contact-container h3, #contact-container h5 {
    color: rgba(0, 116, 126, 0.72);
    font-weight: bold;
}

#contact-container li {
    list-style: none;
    font-size: large;
    
}

#search-box {
  border-color: rgba(116, 68, 204, 0.72);
  height: 60px;
  width: 70%;
}



.carousel-caption {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(116, 68, 204, 0.72);
  text-align: center;
  font-size: 28px;
}

.carousel-item button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(32, 144, 255);
  color: white;
  font-size: 18px;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.carousel-item button:hover {
    cursor: pointer;
    color: #fff;
}

#health-plans {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#health-plans h5 {
    color: rgb(0, 88, 255);
    font-weight: 100;
    
}

#provider-resources {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 10px;
}
.table-head {
    text-align: center;
    background-color: rgba(116, 68, 204, 0.72);
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#filter-button {
    background-color: rgba(116, 68, 204, 0.72);
    color: #fff;
}

#filter-button i {
    color: #ffffff;
}

#clear-filter{
    align-content: center;
}

.ui.popup{
    overflow:auto;
}

.ui.vertical.menu .item {
    width: 250px;
}

.ui.vertical.menu .item select {
    overflow-y: auto;
    width: 200px;
    border: solid 1px;
    border-color: rgba(181, 176, 190, 0.72);
}