* {
    font-family: 'Montserrat', sans-serif;

}

h1,
h2,
p {
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

body {
    padding-top: 170px;
    height: 100%;
}

#body-container {
    min-height: 100%;
    position: relative;
}

.careers-body {
    padding-top: 100px;
}

.search-body {
    background-color: #ffffff;
    height: 100%;
}

#searchfunction {
    width: 100%;
}

.contact-body {
    padding-top: 200px;
    background-color: rgb(252, 252, 252);
}

.navbar-brand {
    margin-left: 15px;
}

.navbar-nav {
    font-size: 22px;
    font-weight: bold;
    margin-top: 50px;
    margin-right: 30px;
}

.navbar-custom .navbar-nav .nav-link {
    color: rgb(147, 129, 230);
}

.navbar-custom {
    background-color: #ffffff;

}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #6659a1;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #6659a1;
    text-decoration: underline;
    transform: scale(1.1);
}


.navbar-toggler {
    margin-right: 15px;
}


.carousel-inner img {
    width: 90%;
    height: 100%;
}

.page-footer {
    color: #ffffff;
    background-color: rgb(147, 129, 230);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;

}

.page-footer a {
    color: #000000;
}

.footer-copyright {
    font-weight: 200;

}

#footer-links {
    text-align: center;
}

#footer-links a {
    color: #ffffff;
}

#correction {
    text-align: center;
}

#correction a {
    color: rgb(20, 0, 255);
    text-decoration: underline;
}

.carousel-caption {
    font-family: 'Roboto' !important;
    font-weight: 300;
    line-height: 1.3em;
    margin-top: 16%;
}

.carousel-inner {

    background-color: rgba(246, 245, 250, 0.3);
}

.carousel-inner img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
}

.modal-content {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

#HIPPAbody h4,
#HIPPAbody h5 {
    font-weight: bold;
    color: rgba(0, 39, 255, 0.7);
}

#HIPPAbody h7 {
    color: rgb(0, 0, 0);
}

#TOSbody h4,
#TOSbody h5 {
    font-weight: bold;
    color: rgba(0, 39, 255, 0.7);
}


#TOSbody h7 {
    color: rgb(0, 0, 0);
}

#AnncModal h5 {
    color: rgb(0, 88, 255);
}

#CovidModal {
    margin-top: 10%;
}

#CovidBody {

    list-style: none;
}

#CovidModalTitle h4 {
    color: rgb(147, 129, 230);
}

.modal-header h4,
h5 {
    color: rgb(0, 46, 201);
}

.modal-body button {
    float: right;
}

.modal-body h6 {
    color: rgba(110, 118, 129, 0.81);
    font-size: 17px;
    font-weight: bold;
}


.modal-content h5 {
    rgba(129, 0, 255, 0.64);
}




@media only screen and (max-width: 768px) {
    .modal-lg {
        max-width: 90% !important;
    }


}




@media only screen and (max-width: 1400px) {

    .carousel-caption {
        display: none;
    }
}


.indeedjobs-widget {
    padding-left: 90px;
    padding-bottom: 10%;
    width: 100%;
}


.navbar-light .navbar-text a {
    color: rgba(0, 108, 255, 0.81);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #6659a1;
}

a {
    color: rgb(0, 88, 255);
}


.btn-download {
    background-color: rgba(0, 108, 255, 0.81);
    border: none;
    color: white;
    padding: 8px 8px;
    cursor: pointer;
    font-size: 13px;
    margin-top: -3px;

}

.btn-download:hover {
    background-color: #28a745;
    cursor: pointer;
}

h5.filename {
    color: rgb(115, 126, 162);
    font-weight: 100;
}


a.download-link {
    color: #fff;
}

#contact-container {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #54566f;
    max-width: 900px;
    background-color: #fff;

}

#contact-container h3 {
    color: #ae84cc;
    font-weight: bold;
}

#contact-container h5 {
    color: #185fd1;
    font-weight: bold;
}

#contact-container li {
    list-style: none;
    font-size: large;

}

#contact-gap {
    padding-bottom: 200px;
}

#search-box {
    border-color: #6659a1;
    height: 60px;
    width: 70%;

}



.carousel-caption {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    font-size: 28px;

}

.carousel-item button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(32, 144, 255);
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.carousel-item button:hover {
    cursor: pointer;
    color: #fff;
}


#provider-resources {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 10px;
}

#provider-resources-files {
    padding-bottom: 200px;
}

#filters-btn {
    background-color: rgb(147, 129, 230);
    color: #ffffff;
}

#filters {
    padding: 3em;
    margin-top: 5em;
}

#filters-dropdown {
    max-width: 100%;
    max-height: 300px;
    border: solid 1px black;
}


#clear-filter {
    align-content: center;
    margin-top: 10%
}

.ui.vertical.menu .item {
    width: 250px;
}

.ui.vertical.menu .item select {
    overflow-y: auto;
    width: 200px;
    border: solid 2px;
    border-color: #8c7ad6;
}

.ui.popup {
    overflow: auto;
}

#rig {
    max-width: 900px;
    margin: 0 auto;
    /*center aligned*/
    padding: 50px;
    font-size: 0;
    /* Remember to change it back to normal font size if have captions */
    list-style: none;
    background-color: rgb(255, 255, 255);
}

#rig li {
    display: inline-block;
    *display: inline;
    /*for IE6 - IE7*/
    width: 25%;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* The wrapper for each item */
.rig-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display: block;
    position: relative;
    overflow: hidden;
}

/* If have the image layer */
.rig-img {
    display: block;
    width: 100%;
    height: auto;
    padding: 5px;
    border: none;
    transform: scale(1);
    transition: all 1s;
}

#rig li:hover .rig-img {
    transform: scale(1.05);
}

/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: url(img/link.png) no-repeat center 20%;
    background-size: 50px 50px;
    opacity: 0;
    filter: alpha(opacity=0);
    /*For IE6 - IE8*/
    transition: all 0.6s;
}

#rig li:hover .rig-overlay {
    opacity: 0.8;
}


#rig li:hover .rig-text {
    transform: translateY(0px);
    opacity: 0.9;
}

@media (max-width: 9000px) {
    #rig li {
        width: 30%;
    }
}

@media (max-width: 700px) {
    #rig li {
        width: 33.33%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width: 50%;
    }
}

#apply {
    text-align: center;
}

#indextext {
    color: rgb(147, 129, 230);

}

#mySidenav {
    margin-top: 8em;
    max-height: 100%;

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    border: 1px black;

}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav select {
    padding: 5px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover {
    color: #ff0000;
}

.sidenav .closebtn {
    position: absolute;
    padding: 1em;
    font-size: 36px;
    margin-left: 5em;
    margin-top: 1em;
    color: #8c7ad6 !important;
}

#cardbody {

    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


.toast-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .25rem .75rem;
    color: #ffffff;
    background-color: #8c7ad6;
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

#toastclose {
    
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #ffffff !important;
}

.toast-body {
    opacity: 100;
    background-color: #ffffff;
    font-weight: bolder;
}

#formscard, #healtheducard, #trainingcard, #umresourcecard, #qualitycard {

    background-color: #ffffff;
    border: 0.5px solid #8c7ad6;
    
}

#lefthp {
    background-color: #8c7ad6;   
}

#righthp {
    background-color: #16171a;
}